<!DOCTYPE html>
<html lang="ru">
<head> 
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@ViewBag.Title | Адресная книга</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"> 
			@Html.ActionLink("Адресная книга", "Index", "Contact", null, new { @class = "navbar-brand mb-0 h1" })
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" 
					aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						@Html.ActionLink("Все контакты", "Index", "Contact", null, new { @class = "nav-link" })
					</li>
					<li class="nav-item">
						@Html.ActionLink("Добавить контакт", "Create", "Contact", null, new { @class = "nav-link" })
					</li>
				</ul> 
			</div>
		</nav>
	</header>

	<main role="main" class="container">
		@RenderBody()
	</main> 

	<footer class="footer">
		<div class="container">
			<span class="text-muted">&copy; @DateTime.Now.Year - Адресная книга</span>
		</div>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
